@use "../common/helpers" as h;
@use "../common/shadows" as s;
@use "../common/entry" as *;
@use "../common/spinbutton" as *;
@use "../common/linked" as *;
@use "../common/tabs" as *;
@use "../common/placeholders" as placeholders;
@use "../common/switches" as switches;
@use "../common/bars" as *;
@use "../common/treeview" as *;
@use "../common/separators" as *;
@use "../common/scrollbar" as *;
@use "../common/list" as *;
@use "./local-paths" as paths;
@import url(#{paths.$colors-url});

/*Resets*/
widget > box > scrolledwindow > viewport.frame > box > box > frame {
  margin: 0px;
  box-shadow: none;
}

/*base00*/
stack > widget > box > box > button.flat:active, /*Ex: GimpDock*/
stack > widget > box > box > button.flat:checked,
stack > widget > box > box > box > button.flat:active,
stack > widget > box > box > box > button.flat:checked,
stack > box > scrolledwindow > viewport > box > frame > box > box > button:active,
stack > box > scrolledwindow > viewport > box > frame > box > box > button:checked,
stack > box > scrolledwindow > viewport > box > frame > box > box > box > button:active,
stack > box > scrolledwindow > viewport > box > frame > box > box > box > button:checked,
stack > box > scrolledwindow > viewport > box > box > frame > grid > box > box > box > button:active,
stack > box > scrolledwindow > viewport > box > box > frame > grid > box > box > box > button:checked,
widget > box > scrolledwindow > viewport.frame > box > box > box > button:active,
widget > box > scrolledwindow > viewport.frame > box > box > box > button:checked {
  @include s.apply-shadow(inset, base00);
}
stack > box > scrolledwindow > viewport check {
  @include s.apply-shadow(inset-thin, base00);
}

@keyframes ripple-out {
  from {
    background-image: radial-gradient(circle farthest-corner at center, unquote("alpha(currentColor, 1)") 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at center, unquote("alpha(currentColor, 1)") 100%, transparent 0%);
  }
}

@keyframes ripple-in {
  from {
    background-image: radial-gradient(circle farthest-corner at center, unquote("alpha(currentColor, 1)") 100%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at center, unquote("alpha(currentColor, 1)") 0%, transparent 0%);
  }
}

@keyframes ripple-out-base0D {
  from {
    background-image: radial-gradient(circle farthest-corner at center, unquote("alpha(@base0D, 1)") 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at center, unquote("alpha(@base0D, 1)") 100%, transparent 0%);
  }
}

@keyframes ripple-in-base0D {
  from {
    background-image: radial-gradient(circle farthest-corner at center, unquote("alpha(@base0D, 1)") 100%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at center, unquote("alpha(@base0D, 1)") 0%, transparent 0%);
  }
}

@keyframes slide-right {
  from {
    background-image: radial-gradient(circle farthest-corner at 0% 50%, unquote("alpha(currentColor, 1)") 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at 50% 50%, unquote("alpha(currentColor, 1)") 100%, transparent 0%);
  }
}

@keyframes slide-left {
  from {
    background-image: radial-gradient(circle farthest-corner at 50% 50%, unquote("alpha(currentColor, 1)") 100%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at 0% 50%, unquote("alpha(currentColor, 1)") 0%, transparent 0%);
  }
}

.background {
  color: h.token-resolve(window_fg_color);
}

arrow {
  min-width: 16px;
  min-height: 16px;
  /* color: @base0D; */
  /* -gtk-icon-source: -gtk-icontheme("go-next-symbolic"); */
}
arrow.left {
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
arrow.right {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
arrow.down,
arrow.bottom {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
arrow.up,
arrow.top {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

*:disabled {
  opacity: 0.6;
}

window {
  color: h.token-resolve(base0D);
  background-color: h.token-resolve(base01);
}
window.background > box {
  background-color: h.token-resolve(base01);
}

/* Merge of headerbar and headerbar windowhandle > box from gtk-4.0 */
headerbar {
  min-height: 46px;
  margin: 0px -1px 0px -1px; /*margin-bottom 6px in gtk-4, not here because creates transparent gap*/
  padding: 6px 7px 6px 7px;
  border-bottom: 1px solid h.token-resolve(base01-black-80-dark);

  color: h.token-resolve(base0D);

  background-color: h.token-resolve(base01);
  @include s.apply-shadow(separator-bottom-horizontal, base01);
}
dialog > headerbar {
  padding: 0px 7px;
}

decoration {
  margin: 0px 30px 45px 15px;
  border-radius: 10px;
  @include s.apply-shadow(wide, base01);
}

dialog,
.dialog-vbox,
.titlebar {
  background-color: h.token-resolve(base01);
}
buttonbox.dialog-action-area {
  margin: 3px;
}

/********************** General Typography * */
label,
text,
cellview,
entry,
treeview,
textview,
spinbutton,
popover,
window {
  font:
    normal 16px "JetBrainsMono Nerd Font",
    sans-serif;
}
sort-indicator,
cellview,
scrolledwindow,
row.activatable > button.text-button:only-child,
button.image-button,
menubutton,
image.expander-row-arrow {
  color: inherit;
}
modelbutton,
row.activatable > button.text-button:only-child,
button.image-button {
  background-color: inherit;
}
label.title,
label.subtitle {
  padding: 0px 12px 0px 12px;
}
label.subtitle {
  opacity: 0.5;
}
label > link {
  font-weight: bold;
  color: h.token-resolve(base0C);
}
.error {
  color: h.token-resolve(base08);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

spinner {
  color: h.token-resolve(base0D);
  opacity: 0;
  background: none;

  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite;
}

/********************** Entry * */
@include entry-styles();

sort-indicator,
button:active sort-indicator {
  color: h.token-resolve(base0D);
}
button:hover:not(:active) sort-indicator {
  color: h.token-resolve(base01);
}

@include bar-styles();
@include placeholders.slider-style();
@include switches.switch-styles();
@include switches.checkbutton-styles();

/***************** button **************************/
button {
  min-width: 16px;
  min-height: 30px;
  margin: 1px 0px 0px 1px;
  padding: 1px 9px 2px 8px;
  border-width: 0px;
  border-radius: 50px;

  background-color: transparent;

  transition-duration: 0.2s;
  transition-property: background-color, box-shadow;
}
button.text-button,
button.font,
button.file {
  color: h.token-resolve(base0D);
  background-color: h.token-resolve(base02);
  @include s.apply-shadow(thin, base02);
}
button.default.text-button,
button.suggested-action.text-button,
button.suggested-action.pill {
  color: h.token-resolve(base0B);
  background-color: h.token-resolve(base0B-black-60);
  @include s.apply-shadow(thin, base0B-dull);
}
button.destructive-action {
  background-color: h.token-resolve(base08-black-60);
  @include s.apply-shadow(thin, base08-dull);
}
button.destructive-action,
button.close {
  color: h.token-resolve(base08);
}
button.close > image {
  padding: 0px;
  background-color: transparent;
}
button.small-button,
button.sidebar-button {
  min-height: 22px;
  padding: 2px 6px 3px 5px;
}
button.flat {
  background-color: transparent;
  box-shadow: none;
}
button.flat.link {
  color: h.token-resolve(base0C);
}

/**********************/
/**** button:hover ****/
/**********************/
button:hover:not(:active) {
  color: h.token-resolve(base01);
  background-color: h.token-resolve(base0D);
  @include s.apply-shadow(thin, base0D);
}
stack > button:hover:not(:active) {
  background-color: h.token-resolve(base0D);
  @include s.apply-shadow(thin, base0D);
}
button.default:hover,
button.suggested-action:hover {
  background-color: h.token-resolve(base0B);
  @include s.apply-shadow(thin, base0B);
}
button.destructive-action:hover:not(:active),
button.close:hover:not(:active),
button.tab-close-button:hover:not(:active) {
  background-color: h.token-resolve(base08);
  @include s.apply-shadow(inset-thin, base08);
}
button.flat.link:hover:not(:active) {
  color: h.token-resolve(base0C);
  background-color: transparent;
  box-shadow: none;
}
button.flat.link:hover:not(:active) > label {
  text-decoration-line: underline;
}

/******************************/
/**** button:hover:checked ****/
/******************************/
button:hover:checked {
  margin: 0px;
  padding: 2px 9px 2px 9px;
  @include s.apply-shadow(inset, base0D);
}
stack > button:hover:checked:not(:active),
button.text-button:hover:checked:not(:active),
button.font:hover:checked:not(:active),
button.file:hover:checked:not(:active),
button.pill:hover:checked {
  @include s.apply-shadow(inset, base0D);
}

/***************** button:hover:active **************************/
button:active,
button:checked,
button:hover:active {
  margin: 0px;
  padding: 2px 9px 2px 9px;
  @include s.apply-shadow(inset, base01);
}
stack > button:active,
button.file:active,
button.text-button:active,
button.text-button:checked,
button.font:active {
  @include s.apply-shadow(inset, base02);
}
button.default:active,
button.default:checked,
button.suggested-action:active,
button.suggested-action:checked {
  background-color: h.token-resolve(base0B-black-60);
  @include s.apply-shadow(inset, base0B-dull);
}
button.close:active {
  background-color: transparent;
}
button.small-button:active,
button.sidebar-button:active {
  margin: 0px;
  padding: 3px 6px 3px 6px;
  @include s.apply-shadow(inset-thin, base01);
}
button.destructive-action:active,
button.destructive-action:checked,
button.destructive-action.image-button.text-button.toggle:active {
  background-color: h.token-resolve(base08-black-60);
  @include s.apply-shadow(inset, base08-dull);
}
button.default:active,
button.default:checked,
button.suggested-action:active,
button.suggested-action:checked {
  background-color: h.token-resolve(base0B-black-60);
  @include s.apply-shadow(inset, base0B-dull);
}
button.suggested-action.image-text-button:not(.pill):active,
button.suggested-action.image-text-button:not(.pill):checked {
  background-color: transparent;
  /* box-shadow: var(--shadow-inset); */
}
button.text-button.radio,
button.text-button.toggle {
  min-width: 100px;
}
button.image-button:active,
toolbutton > button.text-button.image-button:active {
  background-color: transparent;
}
button.image-button.text-button.toggle:active {
  background-color: h.token-resolve(base02);
}
button.suggested-action:hover,
button.default:hover,
button.destructive-action:hover,
button.close:hover {
  color: h.token-resolve(base01);
}
button.default,
button.default:active,
button.suggested-action,
button.suggested-action:active,
button.suggested-action:hover:active,
button.suggested-action.image-text-button,
button.suggested-action.image-text-button:active,
button.suggested-action.image-text-button:checked {
  color: h.token-resolve(base0B);
}
button.destructive-action,
button.destructive-action:active,
button.close,
button.close:active {
  color: h.token-resolve(base08);
}
button.flat.link:active {
  color: h.token-resolve(base0C);
  background-color: transparent;
  box-shadow: none;
}
button.flat.link:active > label {
  text-decoration-line: underline;
}

button separator.vertical {
  margin: 3px 6px;
}
button:hover separator,
button:hover:checked separator {
  @include s.apply-shadow(inset-extra-thin, base0D);
}
button separator,
button:checked separator,
button:hover:active separator {
  @include s.apply-shadow(inset-extra-thin, base02);
}
button > box > arrow {
  transition: -gtk-icon-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
button.combo > box > arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
button:checked > box > arrow {
  -gtk-icon-transform: rotate(-0.5turn);
}

@include spinbutton-styles(spinbutton);

/*color button*/
colorswatch {
  border-radius: 50px;
}

@include separator-styles();

menubar {
  padding-bottom: 1px;
}
menubar > menuitem {
  margin: 3px;
  padding: 4px 8px 4px 8px;
  border-radius: 10px;
}
/*popover > stack merge in gtk-4.0*/
menu {
  min-width: 120px;
  padding: 6px;
  border-width: 0px;
  border-radius: 10px;
}
menu > menuitem {
  min-width: 40px;
  min-height: 30px;
  margin: 1px 0px 0px 1px;
  padding: 1px 9px 2px 8px;
  border-radius: 50px;

  color: h.token-resolve(base0D);
}
menuitem:hover {
  color: h.token-resolve(base01);
  background-color: h.token-resolve(base0D);
  @include s.apply-shadow(thin, base0D);
}
menuitem accelerator {
  color: unquote("alpha(currentColor, 0.55)");
}
menu > menuitem > label:first-child,
menu > menuitem > box:first-child {
  margin-left: -38px;
  /* For the popup menuitem boundary spacing*/
  padding-left: 10px;
}
menu > menuitem > box:first-child > image:first-child {
  margin-right: 10px;
}
menu > menuitem > check:first-child,
menu > menuitem > radio:first-child {
  margin-right: 10px;
  margin-left: -2px;
}
menuitem:hover > check:not(:checked),
menuitem:hover > radio:not(:checked) {
  @include s.apply-shadow(inset-thin, base0D);
}
menu > separator {
  @include s.apply-shadow(inset-extra-thin, base01);
}

toolbar {
  padding: 6px;
  border-top: 0px solid rgb(41, 47, 69);
  background-color: h.token-resolve(base01);
}
toolbutton > button.text-button.image-button {
  padding: 1px 5px 2px 4px;
}
toolbutton > button.text-button.image-button:hover:active {
  padding: 2px 5px 2px 5px;
}
statusbar frame {
  margin: -5px;
  background-color: transparent;
  box-shadow: none;
}

@include tab-styles();

actionbar > revealer,
actionbar > revealer > box {
  padding: 6px;
}
actionbar > revealer > box > button.image-button.popup {
  margin: 6px;
}
actionbar > revealer > box > button.image-button.popup:active {
  margin: 5px 6px 6px 5px;
}

frame {
  margin: 6px;
  border-radius: 10px;
  background-color: h.token-resolve(base00);
  @include s.apply-shadow(inset, base00);
}
frame menubar,
frame toolbar {
  background-color: transparent;
}
frame > label {
  margin: 4px;
}
scrolledwindow:not(.sidebar),
textview {
  /*margin: 6px;*/ /*Makes spacing better. Not in gtk4 version*/
  border-radius: 10px;
}
scrolledwindow.frame,
frame {
  margin: 6px;
  border-radius: 10px;
  background-color: h.token-resolve(base00);
  @include s.apply-shadow(inset, base00);
}
scrolledwindow.frame textview,
frame textview {
  box-shadow: none;
}
stack > box > scrolledwindow:not(.frame) {
  margin: 6px;
}
stack > box > scrolledwindow > viewport {
  border-radius: 10px;
  background-color: h.token-resolve(base00);
  @include s.apply-shadow(inset, base00);
}
stack > box > scrolledwindow > viewport > box.vertical > box.horizontal:first-child,
stack > box > scrolledwindow > viewport > box.vertical > grid.horizontal:first-child {
  margin: 6px 6px 0px 6px;
}
/*Why use padding 8px 6px 6px 8px?*/
frame > scrolledwindow {
  margin: 6px;
}
frame.app-notification {
  padding: 10px;
}
frame button.small-button:active,
frame button.small-button:hover:active,
scrolledwindow.frame button.small-button:active,
scrolledwindow.frame button.small-button:hover:active,
scrolledwindow.frame block.empty,
scrolledwindow.frame progressbar trough,
scrolledwindow.frame levelbar trough,
scrolledwindow.frame scale trough,
scrolledwindow.frame radio:not(:checked):not(:indeterminate),
scrolledwindow.frame check:not(:checked):not(:indeterminate) {
  @include s.apply-shadow(inset-thin, base00);
}
frame > * > separator,
frame > paned > separator.wide,
frame box.toolbar > separator {
  @include s.apply-shadow(inset-extra-thin, base00);
}
frame dropdown > button.toggle:active,
frame dropdown > button.toggle:checked:not(:hover),
frame spinbutton > button.image-button:active,
scrolledwindow.frame spinbutton > button.image-button:active {
  background-color: h.token-resolve(base02);
  @include s.apply-shadow(inset, base02);
}
frame button.image-button:active,
frame button.image-button:checked,
frame toolbutton > button.text-button.image-button:active,
frame tab:checked,
frame tab:active,
scrolledwindow.frame button:hover:active,
scrolledwindow.frame switch:not(:checked) {
  background-color: transparent;
  @include s.apply-shadow(inset, base00);
}

iconview text selection:focus,
iconview text selection,
iconview:selected,
iconview text:selected {
  border-radius: 10px;
  color: h.token-resolve(base01);
  background-color: h.token-resolve(base0D);
}
textview {
  padding: 8px; /*Uses margin in gtk4*/
  border-radius: 10px;

  color: h.token-resolve(base0D);

  background-color: transparent;
  box-shadow: none;
}

@include treeview-styles();

scrolledwindow treeview.view:selected:focus,
scrolledwindow treeview.view:selected {
  @include s.apply-shadow(inset, base00);
}
.rubberband,
rubberband,
XfdesktopIconView.view .rubberband,
.content-view rubberband,
.content-view .rubberband,
treeview.view rubberband,
flowbox rubberband {
  border: 1px solid h.token-resolve(base0D);
  background-color: unquote("alpha(@base0D, 0.2)");
}
filechooser scrolledwindow {
  box-shadow: none;
}

@include scrollbar-styles();

tooltip {
  margin: 1px 30px 45px 15px;
  padding: 6px 10px;
  border-width: 0px;
  border-radius: 50px;

  color: h.token-resolve(base0D);

  background-color: h.token-resolve(base03);
}
tooltip decoration {
  border-radius: 50px;
  background-color: transparent;
  box-shadow: none;
  @include s.apply-shadow(wide, base03);
}
tooltip label {
  padding: 0px 6px 0px 6px;
}

spinner {
  color: h.token-resolve(base0D);

  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

.popup {
  border-radius: 10px;
}
.popup > decoration {
  background-color: h.token-resolve(base01);
}

/*-------------------------------------------*/

@include linked-styles();

.linked > button:not(.combo):checked,
.linked > button:not(.combo):hover:checked {
  @include s.apply-shadow(inset, base02);
  animation: none;
}
.linked > combobox:not(:hover) > .linked > button:checked:not(:hover) {
  box-shadow: none;
}
.linked > combobox > .linked {
  box-shadow: none;
}

.linked:not(buttonbox) > button:not(.text-button):not(#_):hover:checked {
  color: h.token-resolve(base0D);
}

@include linked-tabs();

combobox arrow {
  -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
}

stack.view {
  background-color: h.token-resolve(base00);
}
stack > button:not(:hover):not(.toggle):not(.image-button) {
  background-color: h.token-resolve(base02);
  @include s.apply-shadow(thin, base02);
}
stack > button:active {
  background-color: h.token-resolve(base02);
  @include s.apply-shadow(inset, base02);
}
stack > scrolledwindow > viewport {
  border-radius: 10px;
  background-color: h.token-resolve(base00);
  @include s.apply-shadow(inset, base00);
}
/*Because list covers the viewport and its box-shadow*/
stack > scrolledwindow > viewport > list {
  background-color: transparent;
}
stack.view scrolledwindow {
  /* background-color: h.token-resolve(base00); */
  background-color: transparent;
}

frame.border-inset border {
  border-style: solid inset inset solid;
  border-width: 1px;
}
frame.border-outset border {
  border-style: outset solid solid outset;
  border-width: 1px;
}
frame.border-inset border,
frame.border-outset border,
frame.border-groove border,
frame.border-ridge border {
  border-color: h.token-resolve(base02);
  border-radius: 10px;
}
frame.border-groove border {
  border-style: groove;
  border-width: 2px;
}
frame.border-ridge border {
  border-style: ridge;
  border-width: 2px;
}

button.popup {
  border: none;
  border-radius: 50px;
}

modelbutton {
  min-height: 24px;
  margin: 1px 0px 0px 1px;
  padding: 4px 16px 5px 15px;
  border-radius: 50px;
}
modelbutton:hover,
modelbutton:hover:focus {
  color: h.token-resolve(base01);
  background-color: h.token-resolve(base0D);
  @include s.apply-shadow(thin, base0D);
}
modelbutton:active,
modelbutton:hover:active,
modelbutton:focus {
  margin: 0px;
  padding: 5px 16px 5px 16px;
  color: inherit;
  background-color: h.token-resolve(base01);
  @include s.apply-shadow(inset, base01);
}
modelbutton:hover:not(:active) > check:not(:checked),
modelbutton:hover:not(:active) > radio:not(:checked) {
  @include s.apply-shadow(inset-thin, base0D);
}

popover {
  min-width: 120px;
  /*13px margin-top so arrow above popover doesn't overlay the bow-shadow*/
  margin: 13px 55px 65px 25px;
  padding: 6px;
  border-width: 0px;
  border-radius: 10px;

  background-color: h.token-resolve(base01);
  @include s.apply-shadow(wide, base01);
}
popover > stack {
  padding: 0px; /*Equivalent to the padding in gtk4 theme */
}
/*Selects two kinds of popover layouts*/
popover > box,
popover > stack > box,
popover > grid {
  margin: -9px; /*Normalizes boundaries from edge of popover to modelbuttons to align with gtk4 spacing*/
  padding: 0px;
}
popover stack > box modelbutton accelerator {
  margin-left: 12px;
}
popover.emoji-picker flowboxchild {
  margin: 6px 3px 0px 3px;
}
popover.emoji-picker > box {
  margin: 0px;
}
popover.emoji-picker scrolledwindow {
  margin: 0px;
}
popover.emoji-picker button.emoji-section.flat {
  margin: 7px 3px 0px 4px;
}
popover.emoji-picker button.emoji-section.flat:active,
popover.emoji-picker button.emoji-section.flat:checked {
  margin: 6px 3px 0px 3px;
}

popover modelbutton,
popover modelbutton:hover,
popover modelbutton:hover:focus,
button:hover popover modelbutton {
  min-width: 40px;
  min-height: 30px;
  margin: 1px 0px 0px 1px;
  padding: 1px 9px 2px 8px;
}
popover modelbutton:active,
popover modelbutton:focus,
popover modelbutton:hover:active,
button:hover popover modelbutton,
button:hover:active popover modelbutton:active,
button:hover:active popover modelbutton:focus {
  margin: 0px;
  /* padding: 2px 17px 2px 17px; */
  padding: 2px 9px 2px 9px;
  background-color: h.token-resolve(base01);
  @include s.apply-shadow(inset, base01);
}

popover > arrow {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

button.radio:checked {
  border-radius: 50px;
}

calendar {
  color: h.token-resolve(base0D);
}
calendar *:selected {
  border-radius: 50px;
  color: h.token-resolve(base01);
  background-color: h.token-resolve(base0D);
  @include s.apply-shadow(thin, base0D);
}

expander title > arrow {
  transition: -gtk-icon-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
expander title > arrow:dir(ltr) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
expander title > arrow:checked:dir(ltr) {
  -gtk-icon-transform: rotate(0.25turn);
}
expander title > arrow:dir(rtl) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}
expander title > arrow:checked:dir(rtl) {
  -gtk-icon-transform: rotate(-0.25turn);
}

/*------------------row and list stuff----------------------*/
row {
  border-width: 0px;
  border-bottom: 1px solid h.token-resolve(base00-black-80-dark);
  border-radius: 50px;

  color: inherit;

  background-color: transparent;
  @include s.apply-shadow(separator-bottom-horizontal, base00);

  transition: none;
}
row.activatable > row,
row.activatable:hover > row.activatable:hover,
row.activatable button.image-button {
  color: inherit;
}
row.activatable:hover {
  border-bottom: 1px solid h.token-resolve(base0D);
  color: h.token-resolve(base01);
  background-color: h.token-resolve(base0D);
  @include s.apply-shadow(thin, base0D);
}

row:last-child {
  border-bottom-color: transparent;
  box-shadow: none;
}
row.activatable:active,
row.activatable:selected,
columnview row:selected {
  border-bottom-color: transparent;
  color: inherit;
  background-color: transparent;
  @include s.apply-shadow(inset, base00);
}

row.activatable:hover:not(:active):not(:selected) block.empty,
row.activatable:hover:not(:active):not(:selected) progressbar trough,
row.activatable:hover:not(:active):not(:selected) levelbar trough,
row.activatable:hover:not(:active):not(:selected) scale trough,
row.activatable:hover:not(:active):not(:selected) radio:not(:checked):not(:indeterminate),
row.activatable:hover:not(:active):not(:selected) check:not(:checked):not(:indeterminate) {
  @include s.apply-shadow(inset-thin, base0D);
}
row.activatable:hover:not(:active):not(:selected) popover block.empty,
row.activatable:hover:not(:active):not(:selected) popover progressbar trough,
row.activatable:hover:not(:active):not(:selected) popover levelbar trough,
row.activatable:hover:not(:active):not(:selected) popover scale trough,
row.activatable:hover:not(:active):not(:selected) popover radio:not(:checked):not(:indeterminate),
row.activatable:hover:not(:active):not(:selected) popover check:not(:checked):not(:indeterminate) {
  @include s.apply-shadow(inset-thin, base01);
}
row.activatable:hover:not(:active):not(:selected) switch {
  color: h.token-resolve(base0B);
  @include s.apply-shadow(inset, base0D);
}
row.activatable:hover:not(:selected):not(:active) {
  color: h.token-resolve(base01);
  background-color: h.token-resolve(base0D);
  @include s.apply-shadow(thin, base0D);
}
row > revealer {
  padding: 0px 14px 0px 14px;
}
row box > image {
  padding-right: 8px;
}
row box > label {
  padding-right: 2px;
}

row.activatable:hover entry {
  background-color: h.token-resolve(base0D);
}
row.activatable:hover entry:focus {
  @include s.apply-shadow(inset, base0D);
}
row.activatable:hover selection:focus {
  background-color: h.token-resolve(base02);
}
/*the row is acting as a button here, so no need to have styling for the button itself*/
row.activatable > button.text-button,
row.activatable:hover > button.text-button {
  background-color: transparent;
  box-shadow: none;
}
row.activatable:hover:not(:selected) button:active {
  @include s.apply-shadow(inset, base0D);
}
row:not(.sidebar-row) ~ separator {
  all: unset;
}

@include list-styles();

.sidebar {
  background-color: h.token-resolve(base01);
}
.sidebar > scrolledwindow {
  border-radius: 0px;
  background-color: transparent;
}
.sidebar > scrolledwindow > viewport > list {
  background-color: h.token-resolve(base01);
}
.sidebar > scrolledwindow > viewport > list > header {
  padding-right: 12px;
  padding-left: 12px;
}
.sidebar > scrolledwindow > viewport > list > separator.horizontal {
  all: unset;
}
list > row.sidebar-row,
.sidebar > scrolledwindow > viewport > list > row {
  border-bottom-color: transparent;
  box-shadow: none;
}
list > row.sidebar-row,
list > row.sidebar-row:hover,
.sidebar > scrolledwindow > viewport > list > row,
.sidebar > scrolledwindow > viewport > list > row:hover {
  min-height: 35px;
  margin: 1px 6px 1px 7px;
  padding: 0px 1px 0px 0px;
}
.sidebar > scrolledwindow > viewport > list > row:active,
.sidebar > scrolledwindow > viewport > list > row:selected,
scrolledwindow > viewport list > row.sidebar-row:active,
scrolledwindow > viewport list > row.sidebar-row:selected {
  margin: 0px 6px 0px 6px;
  padding: 1px;
  background-color: transparent;
  @include s.apply-shadow(inset, base01);
}
row.sidebar-row > image:first-child,
row.sidebar-row > label:first-child,
row.sidebar-row > box:first-child,
row.sidebar-row > button:first-child,
row.sidebar-row > cell:first-child,
stacksidebar > scrolledwindow > viewport > list > row > image:first-child,
stacksidebar > scrolledwindow > viewport > list > row > label:first-child,
stacksidebar > scrolledwindow > viewport > list > row > box:first-child,
stacksidebar > scrolledwindow > viewport > list > row > button:first-child,
stacksidebar > scrolledwindow > viewport > list > row > cell:first-child {
  padding-left: 15px;
}
row.sidebar-row > image:last-child,
row.sidebar-row > label:last-child,
row.sidebar-row > box:last-child,
row.sidebar-row > button:last-child,
row.sidebar-row > cell:last-child,
stacksidebar > scrolledwindow > viewport > list > row > image:last-child,
stacksidebar > scrolledwindow > viewport > list > row > label:last-child,
stacksidebar > scrolledwindow > viewport > list > row > box:last-child,
stacksidebar > scrolledwindow > viewport > list > row > button:last-child,
stacksidebar > scrolledwindow > viewport > list > row > cell:last-child {
  padding-right: 15px;
}

header {
  margin: 0px 4px;
  border-bottom: 1px solid h.token-resolve(base01-black-80-dark);
  background-color: transparent;
  @include s.apply-shadow(separator-bottom-horizontal, base01);
}
frame header,
scrolledwindow header {
  border-bottom-color: h.token-resolve(base00-black-80-dark);
  @include s.apply-shadow(separator-bottom-horizontal, base00);
}
header > button {
  min-height: 24px;
  margin: 4px 0px 3px 1px;
  border: none;
}
header > button:hover:active {
  margin: 3px 0px;
}

/*Inspector global settings dropdowns, which I think were directly pasted from gtk 4 css*/
stack:hover > row.activatable:hover {
  box-shadow: none;
}
row:hover button.text-button:checked,
row:hover button.text-button:checked:hover,
row:hover dropdown > button.toggle:checked,
row:hover dropdown > button.toggle:checked:hover {
  @include s.apply-shadow(inset, base0D);
}
/* row:hover button.text-button:checked *, */
/* row:hover dropdown > button.toggle:checked * { */
/*   color: h.token-resolve(base01); */
/* } */
row:not(:hover) button.text-button:checked:not(:hover),
row:not(:hover) dropdown > button.toggle:checked:not(:hover) {
  background-color: h.token-resolve(base02);
  @include s.apply-shadow(inset, base02);
}

popover list.view > row.activatable:selected:not(:hover) {
  box-shadow: unset;
}
popover list.view > row.activatable:hover {
  color: h.token-resolve(base01);
  background-color: h.token-resolve(base0D);
  @include s.apply-shadow(thin, base0D);
}
popover list.view > row.activatable:focus,
popover list.view > row.activatable:focus:selected {
  color: h.token-resolve(base0D);
  background-color: h.token-resolve(base01);
  @include s.apply-shadow(inset, base01);
}

.view > row.activatable:selected,
.view > child.activatable:selected,
frame list > row.activatable:selected {
  @include s.apply-shadow(inset, base00);
}

/*Ex: file picker*/
.sidebar list row {
  min-height: 36px;
}
.sidebar list > row > label {
  padding: 0px 6px 0px 6px;
}
placessidebar + separator {
  all: unset;
}
filechooser paned {
  background-color: h.token-resolve(base01);
}
placessidebar {
  margin: 0px;
  padding: 6px 0px 6px 0px;
  background-color: h.token-resolve(base01);
  @include s.apply-shadow(thin, base01);
}
placesview > stack,
placesview > actionbar,
#pathbarbox {
  background-color: h.token-resolve(base01);
}
placesview > stack > frame {
  margin: 6px 6px 0px 0px;
}
filechooser stack > box > scrolledwindow:not(#_) {
  margin: 6px 6px 6px 0px;
  border-radius: 10px;
  background-color: h.token-resolve(base00);
  @include s.apply-shadow(inset, base00);
}
filechooser stack:not(#_) {
  border-radius: 10px;
  background-color: transparent;
}
filechooser #pathbarbox {
  padding: 6px 0px 0px 0px;
  background-color: h.token-resolve(base01);
}
#pathbarbox button {
  background-color: transparent;
}
#pathbarbox .path-bar.linked > button:not(.slider-button) + button,
#pathbarbox .path-bar.linked > button:not(.slider-button) + button:not(.slider-button) {
  @include s.apply-shadow(separator-vertical, base01);
}
#pathbarbox .path-bar.linked > button.slider-button + button:not(:hover):not(:active):not(:checked),
#pathbarbox .path-bar.linked > button + button.slider-button:not(:hover):not(:active):not(:checked),
#pathbarbox .path-bar.linked > button:not(#_):hover + button:not(:active):not(:checked),
#pathbarbox .path-bar.linked > button:not(#_):active + button:not(:hover):not(:checked),
#pathbarbox .path-bar.linked > button:not(#_):checked + button:not(:hover):not(:active),
#pathbarbox .path-bar.linked > button:not(#_):hover:active + button:not(:checked),
#pathbarbox .path-bar.linked > button:not(#_):hover:checked + button:not(:active) {
  box-shadow: none;
}
#pathbarbox button.slider-button {
  margin: 1px 1px 0px 2px;
  padding: 1px 9px 2px 8px;
  border-radius: 50px;
}
#pathbarbox button.slider-button:active,
#pathbarbox button.slider-button:checked {
  margin: 0px 1px 0px 1px;
  padding: 2px 9px;
}
#pathbarbox button.slider-button:hover {
  @include s.apply-shadow(thin, base0D);
}
#pathbarbox button.text-button.radio,
#pathbarbox button.text-button.toggle {
  min-width: 16px;
}
#pathbarbox .path-bar.linked > button:not(#_):active,
#pathbarbox .path-bar.linked button:not(#_):checked,
#pathbarbox .path-bar.linked > button:not(#_):hover:active,
#pathbarbox .path-bar.linked button:not(#_):hover:checked {
  @include s.apply-shadow(inset, base01);
}
#pathbarbox button:hover:checked {
  color: h.token-resolve(base01);
}
#pathbarbox button *,
#pathbarbox button:hover:active *,
#pathbarbox button:hover:checked * {
  color: h.token-resolve(base0D);
}
#pathbarbox button:not(#_):hover:not(:active):not(:checked) * {
  color: h.token-resolve(base01);
}
#pathbarbox button * + * {
  padding: 0px 0px 0px 4px;
}

grid.horizontal > spinbutton.horizontal,
grid.horizontal > combobox {
  margin-right: 3px;
  margin-bottom: 3px;
}

/************
 * Chromium *
 ************/
window.background.chromium {
  background-color: h.token-resolve(base00);
}
window.background.chromium headerbar,
window.background.chromium menu {
  background-color: h.token-resolve(base01);
}
window.background.chromium menu menuitem:hover {
  border-top: 1px solid h.token-resolve(base0D-white-65-dark);
  border-left: 1px solid h.token-resolve(base0D-white-65-dark);
  box-shadow: none;
}
// Border of toolbar
window.background.chromium box.frame {
  border: 1px solid h.token-resolve(base00-black-80-dark);
}
window.background.chromium entry.chromium {
  border-image: none;
  color: h.token-resolve(base0D);
  background-color: h.token-resolve(base02);
}
window.background.chromium entry.chromium:focus {
  border-image: none;
  color: h.token-resolve(base0D);
}
// Internals of address field
window.background.chromium textview,
window.background.chromium > textview.view {
  color: h.token-resolve(base0D);
  background-color: h.token-resolve(base02);
}
// Switches in "Customize Chromium" revealer
window.background.chromium button.text-button.toggle {
  color: h.token-resolve(base02);
  background-color: h.token-resolve(base01);
}
window.background.chromium button.text-button.toggle:checked {
  background-color: h.token-resolve(base0D);
}
