#Tauon Music Box theme file

{{scheme-variant}}-mode

#-Backgrounds-----

#Window titlebar
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} player background (top panel)

{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}} playlist panel
{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}} tracklist panel
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} side panel
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} bottom panel
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} queue panel
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} gallery background
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} lyrics panel

#-Frame--------

{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} sep line
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} bb line
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} tb line

#-Playlist-------

#track title
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} track line
{{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}} track time
#track date & codec
{{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}} track index
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} track artist
{{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}} track album

#Also affects left highlight in playlist bar
{{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}} track playing

{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} index playing
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} artist playing
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} album playing
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} time playing

{{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}} track missing

{{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}} fav line
{{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}} folder line
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} folder title

{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} playing highlight
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},50 select highlight
{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}} gallery highlight

{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} column bar background

#-Bottom panel------

{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},50 buttons off
#"buttons hover"
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},150 buttons over
#"buttons checked"
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} buttons active

{{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}} playing time

{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} seek bar
{{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}} volume bar
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},50 seek bg
{{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}},15 volume bg
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},50 scroll bar

{{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}},50 mode off
{{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}},150 mode over
{{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}} mode on

{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} bottom title

#-Top panel---------

{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} tab active text
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} tab text
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} tab background
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},50 tab over
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} tab active background

{{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}} music vis

31,23,49        window buttons background
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} window buttons on
65,49,104       window buttons icon off
31,23,49        window buttons icon over
# window button x on
# window button x off


#-Menu-------------

{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} menu background
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},50 menu highlight
{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}} menu border
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} menu text
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},90 menu disable text
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} menu icons

#-Dialog box---------

{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} box background
{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}} box border

{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} box title text
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} box text label
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} box text normal
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} box sub text
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} box input text
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} box text border

{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}} box button background normal
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} box button background highlight
{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} box button border

#-Misc--------------

#Settings box
{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}} playlist box background

{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}} window frame
{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}} artist bio background
{{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}} artist bio text

{{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}} lyrics text
{{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}} active lyric

#-Side panel--------

{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} title info
{{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}} extra info
{{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}} art border

#-Mini Mode---------

{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} mini bg
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} mini border
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} mini text 1
{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}} mini text 2
