$gtk-version: "gtk3" !default;
@use "helpers" as h;
@use "shadows" as s;

@mixin switch-styles() {
  switch {
    padding: 3px;
    border-radius: 50px;

    color: h.token-resolve(base0B);

    background: transparent;
    box-shadow: if($gtk-version != "gtk3", var(--shadow-inset), s.shadow-value(inset, base01));

    animation: slide-left 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
  }
  switch:checked {
    color: h.token-resolve(base0B);
    box-shadow: s.shadow-value(inset, base0B);
    animation: slide-right 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
  }
  switch image {
    color: transparent;
  }
  switch slider {
    @extend %slider;
  }
}

@mixin checkbutton-styles() {
  checkbutton,
  radiobutton {
    padding: 4px;
  }

  @include h.emit-rule(("checkbutton > label", if($gtk-version == "gtk3", "radiobutton > label", null))) {
    margin-right: 4px;
    color: h.token-resolve(base0D);
  }
  check,
  radio {
    min-width: 14px;
    min-height: 14px;
    margin: 0px 4px 0px 4px;
    padding: if($gtk-version != "gtk3", 3px, 4px);
    border-width: 0px;

    background-color: transparent;
    box-shadow: if($gtk-version != "gtk3", var(--shadow-inset-thin), s.shadow-value(inset-thin, base01));

    animation: ripple-in-base0D 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
  }
  check:checked,
  check:indeterminate,
  radio:checked,
  radio:indeterminate {
    color: h.token-resolve(base01);
    box-shadow: s.shadow-value(inset-thin, base0D);
    animation: ripple-out-base0D 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
  }
  radio {
    border-radius: 100%;
  }
  radio:checked {
    -gtk-icon-source: #{if($gtk-version != "gtk3", -gtk-scaled, "image") }(-gtk-recolor(url("assets/bullet-symbolic.svg")), -gtk-recolor(url("assets/bullet-symbolic.symbolic.png")));
  }
  radio:indeterminate {
    -gtk-icon-source: #{if($gtk-version != "gtk3", -gtk-scaled, "image") }(-gtk-recolor(url("assets/dash-symbolic.svg")), -gtk-recolor(url("assets/dash-symbolic.symbolic.png")));
  }
  check {
    border-radius: 6px;
  }
  check:checked {
    -gtk-icon-source: #{if($gtk-version != "gtk3", -gtk-scaled, "image") }(-gtk-recolor(url("assets/check-symbolic.svg")), -gtk-recolor(url("assets/check-symbolic.symbolic.png")));
  }
  check:indeterminate {
    -gtk-icon-source: #{if($gtk-version != "gtk3", -gtk-scaled, "image") }(-gtk-recolor(url("assets/dash-symbolic.svg")), -gtk-recolor(url("assets/dash-symbolic.symbolic.png")));
  }
}
